.slick-track {
  height: 100%;
  /* width: 100%!important; */
  // display: flex!important;
  // align-items: center!important;
  // justify-content: center!important;
}

.slick-list.draggable {
  height: 100%;
}

.testimonial__carousel.control.slick-initialized.slick-slider.slick-dotted {
  display: none;
}

.slick-arrow {
  opacity: 0;

}

.testimonial .slick-dots li button:before {
  // font-size: 2vw!important;
  content: '' !important;
  height: .5vw !important;
  width: .5vw !important;
  border-radius: 9999px !important;
  border: .1vw solid #fff !important;
  opacity: .8 !important;

}

.testimonial .slick-dots li {
  margin: 0 .2vw !important;
  height: 1.15vw !important;
  width: 1.15vw !important;
}

.testimonial .slick-dots li button {
  height: 1.15vw !important;
  width: 1.15vw !important;
  padding: 0 !important;
}

.testimonial li.slick-active button:before {
  background: #fff !important;
}

.testimonial .slick-dots {
  width: auto !important;
  top: .65vw;
  bottom: 0!important;
  left: 7vw !important;

  @include lg {
    display: none!important
  }
}

.testimonial .slick-dotted.slick-slider {
  margin-bottom: 0 !important;
}


.hero .arrow-link {
  overflow: hidden;
  visibility: hidden;
}


.title {

  padding-top: 1vw;
  overflow-y: hidden;

  .title-first-line {
    visibility: hidden;
  }

  .title-second-line {
    visibility: hidden;
  }
}

.title:not(:last-child) {
  padding-bottom: 1vw;
}

.circle {
  position: fixed;
  background: transparent;
  border: 0.1vw solid black;
  width: 4.2vw;
  height: 4vw;
  left: -21px;
  top: -25px;
  border-radius: 100%;
  z-index: 1;
  user-select: none;
  pointer-events: none;
  transform: scale(1);
  cursor: none;
  opacity: 0;
  z-index: 9999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle h2 {
  font-size: .9vw;
  font-weight: 400;
}

.circle .left {
  display: block;
  position: absolute;
  right: 4.2vw;
  top: 1.4vw;
  background: url('./../img/multimedia-option.png');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 1vw;
  width: 1vw;
  background-position: center center;
  transform: rotate(180deg);
  transition-duration: 1s;

}

.circle .right {
  content: '';
  position: absolute;
  left: 4.2vw;
  top: 1.4vw;
  display: block;
  background: url('./../img/multimedia-option.png');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 1vw;
  width: 1vw;
  background-position: center center;
  transition-duration: 1s;

}

.circle.animate .left {
  right: 2.3vw;
}

.circle.animate .right {
  left: 2.3vw;
}

.slick-list {
  height: 100%;
}

.col,
[class*='col-'] {
  padding: 0 !important;
}

.elementor {
  width: 100% !important;
}

.elementor.elementor-88.elementor-88.elementor-edit-area.elementor-edit-mode.elementor-edit-area-active {
  background-color: #fff !important;
}

.bg-slider {
  height: 100%;
  width: 0%;
  overflow: hidden;

  position: absolute;
  z-index: 99999;

  img {
    height: 100%;
    width: 100vw;
    object-fit: cover;
    transform: scale(1.15, 1.15);
  }

  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: 999;
    opacity: 35%;
  }

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: 999;
    opacity: 61%;
  }
}

.elementor img {
  max-width: 100vw;
}
.elementor-column-wrap{
padding: 0 !important;
min-height: 0 !important;
}
.elementor-row .elementor-column{
  
min-height: 0 !important;
}

.traction__header{
  width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 4vw;
    top: 0;
    left: 0;
  position: fixed;
  top: 3vw;
  top: 4vw;
  left: 5vw;
  z-index: 99999999999;
  &.show {
    animation: menuShow 0.3s linear forwards;
    z-index: 9999999999;
}

&.hide {
    animation: menuHide 0.3s linear forwards;
}

  
}