.branding {
    @include flex-content(center, center);
    cursor: pointer;
    border: none;

    &:hover {
        text-decoration: none;
    }

    .svg-wrapper {
        height: 2vw;
        width: 2vw;
        margin-right: 1vw;
        pointer-events: none;

        svg {
            height: 2vw;
            width: 2vw;
        }

        &.--header {
            height: auto;
            width: 10vw;

            svg {
                height: 100%;
                width: 100%;
            }
        }
    }


    .brand-text {
        color: getColor(White);
        font-size: 2vw;
        margin-top: 1vw;
        pointer-events: none;

    }

    &.--header {
        position: fixed;
        top: 3vw;
        left: 5vw;
        z-index: 99999999999;

        &.show {
            animation: menuShow 0.3s linear forwards;
            z-index: 9999999999;
        }

        &.hide {
            animation: menuHide 0.3s linear forwards;
        }

    }

    @include lg {

        .svg-wrapper {
            &.--header {
                height: auto;
                width: 200px;
            }
        }

        .svg-wrapper,
        .svg-wrapper svg {
            height: 50px;
            width: 50px;
        }

        .brand-text {
            font-size: 32px;
        }
    }

    @include sm {
        .brand-text {
            display: none;
        }
    }

}