.description {
    position: relative;
    z-index: 9;
    margin-top: -5vw;

    .background {
        top: 0;
        left: 0;
        position: absolute;
        height: 100%;
        width: 80vw;
        z-index: 1;

        .svg-wrapper {
            display: none;
        }

        &.rotating-logo {
            @include flex-content(center, flex-end);

            .svg-wrapper {
                display: block;
                position: absolute;
                right: -5.72vw;

                height: 13.55vw;
                width: 13.55vw;

                svg {
                    height: 13.55vw;
                    width: 13.55vw;
                }

                // right: 0;
            }
        }


    }

    .mdl__wrap {
        z-index: 2;
        // max-width: ;

        .content-wrapper {
            padding: 2vw 0vw;
            max-width: 46vw;
            overflow: hidden;


            p {
                color: getColor(White);
            }

            .arrow-link {
                margin-left: -1.5vw;
                transition: all 0.2s linear;

                &:hover {
                    margin-left: 0vw;
                    text-decoration: none;
                }

                .svg-wrapper {

                    g,
                    path {
                        fill: getColor(Secondary);
                    }

                    line {
                        stroke:getColor(Secondary);
                    }
                }

                color: getColor(Secondary);
            }
        }


    }

    @include lg {

        .mdl__wrap {

            .content-wrapper {

                p {
                    font-size: 28px !important;
                }
            }
        }

    }

    @include md {
        overflow: hidden;

        .background {
            &.rotating-logo {
                width: 100%;

                .svg-wrapper,
                .svg-wrapper svg {
                    height: 140px;
                    width: 140px;
                }
            }
        }

        .mdl__wrap {

            .content-wrapper {
                max-width: 80%;

                p {
                    font-size: 24px !important;
                }
            }
        }
    }

    @include sm {

        .background {
            &.rotating-logo {
                width: 100%;

                .svg-wrapper,
                .svg-wrapper svg {
                    display: none;
                }
            }
        }

        .mdl__wrap {
            .content-wrapper {
                max-width: 100%;
            }
        }
    }

}