.featured {

    .featured-box {
        margin: 0 auto;
        margin-bottom: -4vw;

        .box {
            display: block;
            width: 100%;
            max-width: 34vw;
            margin-bottom: 4vw;
            border-bottom: none;
            padding: 0;

            &:hover {
                text-decoration: none;

                h2 {
                    text-decoration: underline;
                }


                .featured__image {

                    img {
                        transform: scale(1.5);
                        transition: all 10s linear;
                    }
                }
            }

            .featured__image {
                height: 38vw;
                width: 100%;
                margin-bottom: 2.5vw;
                overflow: hidden;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: center center;
                    transform: scale(1);
                    transition: all 10s linear;
                }
            }

            .featured__content {

                .title {
                    font-size: 1.64vw;
                    margin-bottom: 0.4vw;
                    color: getColor(Primary);
                }

                .paragraph {

                    p {
                        color: #8A8A8A;
                        line-height: 2vw;
                        font-size: 1.06vw;
                        @include text-clamp(3);
                    }

                }

            }

            &:nth-child(odd) {
                float: left;
            }

            &:nth-child(even) {
                float: right;
            }

            &.short {

                .featured__image {
                    height: 33vw;
                }
            }

            @include md {
                max-width: 100%;
                margin: 0 auto;
                float: none !important;

                &:not(:last-child) {
                    margin-bottom: 40px;
                }
            }

        }
    }

    @include lg {
        .featured-box {

            .box {
                max-width: 48%;
            }
        }
    }

    @include md {
        .featured-box {

            .box {
                max-width: 100%;

                &.short {
                    .featured__image {
                        height: 60vw;
                    }
                }

                .featured__image {
                    height: 60vw;
                }
            }
        }
    }

    @include sm {
        .featured-box {
            margin-top: 24px;

            .box {
                max-width: 100%;

                &.short {
                    .featured__image {
                        height: 80vw;
                    }
                }

                .featured__image {
                    height: 80vw;
                }
            }
        }
    }
}