.hero {
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 9;


    .background {
        @extend %absolute-content;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center center;
        }


        &::after {
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            width: 100%;
            height: 65%;
            background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
            z-index: 999;
            opacity: 35%;
        }

        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 20%;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
            z-index: 999;
            opacity: 61%;
        }
    }

    .mdl__wrap {
        position: relative;
        z-index: 99999;
        height: 100%;
        @include flex-content(flex-end, flex-start);
        padding-bottom: 12.6vw;


        .hero-text {
            position: relative;

            h1 {
                color: getColor(White);

                &:not(:last-child) {
                    margin-bottom: 2vw;
                }
            }


            .arrow-link {
                margin-left: -1.5vw;

                .svg-wrapper {
                    transition: all 0.2s linear;
                    margin-left: -1.5vw;
                }

                &:hover {

                    .svg-wrapper {
                        margin-left: 0vw;
                    }

                    margin-left: 0vw;
                    text-decoration: none;
                }
            }


        }
    }

    @include lg {
        height: 100vh;

        .mdl__wrap {
            align-items: center;

            .hero-content {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .hero-text {
                    text-align: center;

                    .title {
                        padding: 0;

                        h1 {
                            font-size: 62px !important;
                            line-height: initial !important;
                        }
                    }

                    a {
                        font-size: 22px;
                        @include flex-content(center, center);
                        flex-direction: column;

                        .svg-wrapper {
                            transform: rotate(270deg);
                            margin-top: 16px;
                            order: 2;
                        }

                        .svg-wrapper,
                        .svg-wrapper svg {
                            height: 40px;
                            width: 40px;
                        }
                    }

                }

            }
        }

        .background {

            &::after {
                height: 100%;

            }

            &::before {
                height: 100%;
            }
        }
    }


    @include md {

        .mdl__wrap {

            .hero-content {
                margin-top: -50px;

                .hero-text {

                    .title {
                        margin-bottom: 16px;

                        h1 {
                            font-size: 48px !important;
                            line-height: initial !important;
                        }
                    }

                    a {
                        font-size: 20px;
                        margin-top: 32px;
                        line-height: 1.6em;
                    }
                }
            }
        }
    }
}