.mcb-button {
    display: inline-block;
    position: relative;
    overflow: hidden;
    color: #fff;
}

.mcb-buttonp {
    display: inline-block;
    position: relative;
    overflow: hidden;
    color: #fff;
}

.mcb-button:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 0;
    border-bottom: .1rem solid #fff;
    animation: footer-link-hover-return .8s cubic-bezier(.58, .3, .005, 1) forwards;
    transition: all .8s cubic-bezier(.555, .205, .295, .975);
    box-sizing: border-box;
}

.mcb-buttonw:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: .1rem solid getColor(Primary);
    transition: all .8s cubic-bezier(.555, .205, .295, .975);
    box-sizing: border-box;
}

/*BUTTON LIKE TRACTION*/

.mcb-button:hover:after {
    animation: footer-link-hover .8s cubic-bezier(.58, .3, .005, 1) forwards;
}


.pagination:hover .mcb-button:after {
    -webkit-animation: footer-link-hover .8s cubic-bezier(.58, .3, .005, 1) 0s 1;
    animation: footer-link-hover .8s cubic-bezier(.58, .3, .005, 1) 0s 1;
}


.mcb-buttonw:hover:after {
    -webkit-animation: footer-link-hover .8s cubic-bezier(.58, .3, .005, 1) 0s 1;
    animation: footer-link-hover .8s cubic-bezier(.58, .3, .005, 1) 0s 1;
}