.hero-pagination {
    position: absolute;
    z-index: 999999;
    bottom: 13vw;
    right: 5vw;
    @include flex-content(center, center);


    a {
        position: relative;
        color: #fff;
        height: 3vw;
        width: 3vw;
        font-size: 1vw;
        border: none;
        @include flex-content(center, center);

        &:not(:last-child) {
            margin-right: 1vw;


            .outer-circle {

                svg {

                    g {

                        stroke-dashoffset: 160px;
                        stroke-dasharray: 160px;
                    }
                }
            }

        }

        .inner-circle {

            position: absolute;
            top: -0.2vw;
            left: 0;
            height: 3vw;
            width: 3vw;

            svg {
                transform: rotate(270deg);
                height: 3vw;
                width: 3vw;

                g {
                    stroke: #fff;
                    stroke-dashoffset: 160px;
                    stroke-dasharray: 0px;
                }
            }
        }


        .outer-circle {

            position: absolute;
            top: -0.2vw;
            left: 0;
            height: 3vw;
            width: 3vw;

            svg {
                height: 3vw;
                width: 3vw;
                transform: rotate(270deg);

                g {
                    stroke: getColor(Secondary);
                    stroke-dashoffset: 160px;
                    stroke-dasharray: 160px;
                }
            }
        }
    }

    @include lg {
        width: 100%;
        right: initial;

        a {
            font-size: 22px;

            &:not(:last-child) {
                margin-right: 24px;
            }
        }
        a, .inner-circle, .outer-circle, .inner-circle svg, .outer-circle svg {
            height: 50px!important;
            width: 50px!important;
        }
    }
}

