@keyframes navigationOpen {
    0% {
        width: 0%;
    }

    100% {
        width: 45%;
    }
}

@keyframes navigationClose {
    0% {
        width: 45%;
    }

    100% {
        width: 0%;
    }
}
@keyframes navigationMainClose {
    0% {
        visibility: visible;
        opacity: 1;
    }

    100% {
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes navigationOpenM {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes navigationCloseM {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}
@keyframes navigationMainCloseM {
    0% {
        visibility: visible;
        opacity: 1;
    }

    100% {
        visibility: hidden;
        opacity: 0;
    }
}