.mdl__wrap {
    width: 73.5% !important;
    margin: 0 auto;
    position: relative;
    z-index: 99999;

    &.--mdl-wrap-extend {
        width: 86%!important;
    }
    
    @include lg {
        width: 88%!important;
    }

    @include md {
        padding-top: 60px!important;
        padding-bottom: 60px!important;
    }

}