@font-face {
    font-family: TitlingLight;
    src: url("./../../assets/fonts/Titling Gothic FB WideRegular.otf") format("opentype");
}

@font-face {
    font-family: TitlingLight;
    src: url("./../../assets/fonts/TitlingGothicFBNormal-Light.ttf") format("truetype");
}
