@font-face {
    font-family: TitlingLight;
    src: url("./../../assets/fonts/TitlingGothicFBNormal-Light.ttf") format("truetype");
}

@font-face {
    font-family: TitlingRegular;
    src: url("./../../assets/fonts/TitlingGothicFB.otf") format("opentype");
}
