.footer-section {
    background-color: getColor(Primary);

    .footer__container {
        position: relative;
        width: 100%;

        a {
            color: #fff;
        }

        &.upper {
            @include flex-content(flex-start, flex-start);
            margin-bottom: 5vw;

            .footer__wrapper {
                flex-shrink: 0;
                flex-grow: 1;


                &.large {
                    max-width: 62%;
                }

                &.small {
                    @include flex-content(flex-start, flex-start);
                    max-width: 38%;

                }

                .footer__section {

                    &.contact {

                        h2 {
                            color: #24D6DE;
                            font-size: 2vw;
                            margin-bottom: 2vw;
                        }

                        .contact-list {

                            li {
                                margin-bottom: .5vw;

                                a {
                                    color: #fff;
                                    font-size: 1.8vw;
                                }
                            }
                        }
                    }


                    &.link {
                        flex-shrink: 0;
                        flex-grow: 1;
                        max-width: 50%;

                        ul {

                            li {

                                &:not(:first-child) {
                                    margin-top: 1.2vw;
                                }

                                a {

                                    font-size: 1.2vw;
                                }
                            }
                        }
                    }
                }

                .footer__wrapper__inner {

                    &.etc {

                        .footer__section__inner {

                            &.social {
                                margin-bottom: 1.5vw;

                                ul {
                                    @include flex-content(center, flex-start);

                                    li {
                                        &:not(:last-child) {
                                            margin-right: 0.8vw;
                                        }


                                        a {

                                            .svg-wrapper {
                                                height: 2vw;
                                                width: 2vw;

                                                svg {
                                                    height: 2vw;
                                                    width: 2vw;

                                                    g,
                                                    path {
                                                        fill: #fff;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            &.extra-links {

                                ul {

                                    li {
                                        &:not(:last-child) {
                                            margin-bottom: .5vw;
                                        }

                                        a {
                                            margin: 0;
                                            font-size: 1vw;

                                            .svg-wrapper {
                                                width: 2vw;
                                                height: 2vw;

                                                svg {
                                                    height: 2vw;
                                                    width: 2vw;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.lower {
            margin-top: 5vw;

            .footer__wrapper {
                @include flex-content(flex-end, space-between);

                a,
                p {
                    margin: 0;
                    padding: 0;
                }


                .footer__section {

                    &.brand {
                        a {
                            .img-wrapper {
                                width: 12vw;
                                height: auto;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: contain;
                                    object-position: center center;
                                }
                            }
                        }
                    }

                    &.traction {
                        margin-right: 3.5vw;

                        p {
                            font-size: .8vw;
                            color: #8A8A8A;
                        }
                    }
                }
            }
        }
    }

    @include lg {

        .footer__container {

            &.upper {
                justify-content: space-between;

                .footer__wrapper {

                    &.large {
                        max-width: initial;

                        .footer__section {

                            &.contact {

                                .contact-list {

                                    li {

                                        &:not(:last-child) {
                                            margin-bottom: 16px;
                                        }

                                        a {
                                            font-size: 20px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.small {
                        justify-content: flex-end;

                        .footer__section {

                            &.link {
                                display: none
                            }


                        }

                        .footer__wrapper__inner {
                            &.etc {
                                .footer__section__inner {

                                    &.extra-links {
                                        ul {
                                            li {
                                                &:not(:last-child) {
                                                    margin-bottom: 16px;
                                                }

                                                a {
                                                    font-size: 16px;

                                                    .svg-wrapper,
                                                    .svg-wrapper svg {
                                                        height: 24px;
                                                        width: 24px;
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    &.social {
                                        margin-bottom: 24px;

                                        ul {
                                            li {
                                                &:not(:last-child) {
                                                    margin-right: 16px;
                                                }

                                                a {

                                                    .svg-wrapper,
                                                    .svg-wrapper svg {
                                                        height: 40px;
                                                        width: 40px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.lower {
                .footer__wrapper {
                    .footer__section {
                        &.traction {
                            margin-right: 0;

                            p {}
                        }

                        &.brand {
                            a {
                                .img-wrapper {
                                    height: auto;
                                    width: 200px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @include md {

        .footer__container {

            &.upper {
                justify-content: space-between;
                flex-wrap: wrap;

                .footer__wrapper {

                    &.large {
                        width: 100%;
                        max-width: initial;

                        .footer__section {

                            &.contact {
                                margin-bottom: 40px;

                                h2 {
                                    font-size: 34px !important;
                                    margin-bottom: 24px;
                                }

                                .contact-list {

                                    li {

                                        &:not(:last-child) {
                                            margin-bottom: 16px;
                                        }

                                        a {
                                            font-size: 20px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.small {
                        width: 100%;
                        max-width: 100%;
                        justify-content: flex-start;

                        .footer__section {

                            &.link {
                                display: none
                            }


                        }

                        .footer__wrapper__inner {
                            &.etc {
                                display: flex;
                                flex-direction: column;

                                .footer__section__inner {

                                    &.extra-links {
                                        order: 1;
                                        margin-bottom: 40px;

                                        ul {
                                            li {
                                                &:not(:last-child) {
                                                    margin-bottom: 16px;
                                                }

                                                a {
                                                    font-size: 18px;

                                                    .svg-wrapper,
                                                    .svg-wrapper svg {
                                                        height: 24px;
                                                        width: 24px;
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    &.social {
                                        margin-bottom: 24px;
                                        order: 2;

                                        ul {
                                            li {
                                                &:not(:last-child) {
                                                    margin-right: 16px;
                                                }

                                                a {

                                                    .svg-wrapper,
                                                    .svg-wrapper svg {
                                                        height: 40px;
                                                        width: 40px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.lower {
                .footer__wrapper {
                    .footer__section {
                        &.traction {
                            margin-right: 0;

                            p {}
                        }

                        &.brand {
                            a {
                                .img-wrapper {
                                    height: auto;
                                    width: 200px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @include sm {

        .footer__container {

            &.upper {
                justify-content: space-between;
                flex-wrap: wrap;

                .footer__wrapper {

                    &.large {
                        width: 100%;
                        max-width: initial;

                        .footer__section {

                            &.contact {
                                margin-bottom: 40px;

                                h2 {
                                    font-size: 26px !important;
                                    margin-bottom: 24px;
                                }

                                .contact-list {

                                    li {

                                        &:not(:last-child) {
                                            margin-bottom: 16px;
                                        }

                                        a {
                                            font-size: 16px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.small {
                        width: 100%;
                        max-width: 100%;
                        justify-content: flex-start;

                        .footer__section {

                            &.link {
                                display: none
                            }


                        }

                        .footer__wrapper__inner {
                            &.etc {
                                display: flex;
                                flex-direction: column;

                                .footer__section__inner {

                                    &.extra-links {
                                        order: 1;
                                        margin-bottom: 40px;

                                        ul {
                                            li {
                                                &:not(:last-child) {
                                                    margin-bottom: 16px;
                                                }

                                                a {
                                                    font-size: 16px;

                                                    .svg-wrapper,
                                                    .svg-wrapper svg {
                                                        height: 24px;
                                                        width: 24px;
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    &.social {
                                        margin-bottom: 24px;
                                        order: 2;

                                        ul {
                                            li {
                                                &:not(:last-child) {
                                                    margin-right: 16px;
                                                }

                                                a {

                                                    .svg-wrapper,
                                                    .svg-wrapper svg {
                                                        height: 40px;
                                                        width: 40px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.lower {
                .footer__wrapper {
                    @include flex-content(flex-start, flex-start);
                    flex-direction: column;

                    .footer__section {

                        &.traction {
                            margin-right: 0;
                        }
                        
                        &.brand {
                            margin-bottom: 24px;
                            
                            a {
                                .img-wrapper {
                                    height: auto;
                                    width: 160px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}