h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    line-height: 2.5vw;
    font-weight: 400;

}

.section-heading {
    margin-bottom: 1.5vw;
    font-size: 1.05vw;
}

h1 {
    font-size: 3.2vw;
}

h2 {
    font-size: 2.5vw;

}

h3 {
    font-size: 1.4vw;
}


@include lg {
    h1 {
        font-size: 32px!important;
        line-height: initial;
    }
    h2 {
        font-size: 26px!important;
        line-height: initial;
    }
    h3 {
        font-size: 22px!important;
        line-height: initial;
    }
    h4 {
        font-size: 20px!important;
        line-height: initial;
    }
}