.menus-wrapper {
    position: fixed;
    top: 4vw;
    right: 5vw;
    z-index: 9999999999;

    
    &.show {
        animation: menuShow 0.3s linear forwards;
    }

    &.hide {
        animation: menuHide 0.3s linear forwards;
    }


    .toggle-menu {
        cursor: pointer;
        @include flex-content(center, center);
        border: none;


        span {
            color: getColor(White);
            font-size: 1.4vw;
            pointer-events: none;
            font-family: TitlingLight; font-weight: 600;
        }

        &.close {
            display: none
        }

        .svg-wrapper {
            margin-left: 1vw;
            width: 2vw;
            height: 2vw;
            @include flex-content(center, center);
            color: #000;

            img {
                // height: 96%;
                height: 80%;
                width: 80%;
                object-fit: contain;
                object-position: center center;
                filter: invert(1);
            }

            svg {
                @include flex-content(center, center);
                height: 2vw;
                width: 2vw;


                g,
                path {
                    fill: #000 !important;
                }

                line {
                    fill: #000 !important;
                }
            }
        }

        @include lg {
            span {
                font-size: 26px;
            }

            .svg-wrapper,
            .svg-wrapper svg {
                height: 40px;
                width: 40px;
            }
        }

    }

    &.mobile {

        .open {
            display: none;
        }

        .close {
            display: flex;

            span {
                color: #000;
            }

            img {
                filter: invert(0);
            }
        }
    }

    @include sm {
        .toggle-menu {
            span {
                display: none;
            }
        }
    }
}